.fa {

    padding: 3px;
}

.fa:hover {
    color: blue;
    outline: 1px solid blue;
}
.animate {
    border-radius: 3px;
    animation: highlight 1000ms ease-out;
}
.barContainer {
    border: 1px solid #aaa;
}
.bar {
    float:left;
    height: 50px;
}
.bar1 {
    background-color:#AFA;
}
.bar2 {
    background-color:#FEE;
}
.clear{
    float: clear;
}
@keyframes highlight {
        0% {
            background-color: #AFA;
        }
        100% {
            background-color: transparent;
        }
    }